main {
    position: relative;
    display: block;
}

main h1 {
    position: relative;
    display: block;
    text-align: center;
    font-size: 2vw;
    font-weight: bold;
    margin-top: 20px;
}

main div h2 {
    position: relative;
    display: block;
    text-align: center;
    font-size: 1.5vw;
    font-weight: bold;
    margin-top: 20px;
}

main div section {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

main div#loading {
    position: relative;
    display: block;
    width: 100%;
    height: calc(100vh - 2vw - 25px * 2);
}

main div#loading>div {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main div#loading>div#loader {
    border-bottom: none;
    border-left: none;
    width: 150px;
    height: 150px;
    animation: loader1 2s alternate-reverse infinite;
    background-color: var(--blue);
    border-radius: 50%;
}

main div#loading>div#loader::after {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--black);
    border: 5px solid var(--green);
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    animation: loader2 2s ease infinite;
    box-sizing: border-box;
}

@keyframes loader1 {
    0% {
        box-shadow: 1px 1px 5px var(--blue);
    }
    100% {
        box-shadow: 1px 1px 50px var(--blue);
    }
}

@keyframes loader2 {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@media screen and (max-width: 1300px) {
    main h1 {
        font-size: 25px;
    }
    main div h2 {
        font-size: 20px;
    }
}