<header id="header">
    <div id="open">
        <i class="fas fa-bars"></i>
    </div>
    <div id="close">
        <i class="fas fa-times"></i>
    </div>
    <nav id="nav">
        <a routerLink="/home" routerLinkActive="active">Accueil</a>
        <a routerLink="/games/list" routerLinkActive="active">Liste des parties</a>
        <a routerLink="/details/{{idPartie}}" *ngIf="idPartie" routerLinkActive="active">Détail de la partie</a>
        <a routerLink="{{this.previousUrl}}" *ngIf="this.canGoBack">Retour</a>
        <a routerLink="/new/game" routerLinkActive="active">Nouvelle partie</a>
    </nav>
</header>