header {
    position: sticky;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 60px;
    background-color: var(--grey);
    box-shadow: 0 0 10px 0 black;
    z-index: 100;
    top: 0px;
    left: 0px;
}

header nav {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    gap: 20px;
}

header nav a {
    position: relative;
    display: block;
    color: var(--white);
    text-decoration: none;
    font-size: 1rem;
    padding: 10px;
    background-color: var(--black);
    border-radius: 5px;
    transition-duration: 0.3s;
    cursor: pointer;
}

header nav a:hover {
    background-color: var(--blue);
}

header nav a.active {
    background-color: var(--blue);
}

header div#close,
header div#open {
    display: none;
}

@media screen and (max-width: 768px) {
    header nav {
        padding: 0 10px;
        gap: 10px;
    }
    header nav a {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 650px) {
    header {
        height: 60px;
    }
    header nav {
        flex-direction: column;
        align-items: flex-start;
        padding: 0 10px;
        gap: 10px;
        display: none;
    }
    header div#open {
        display: block;
    }
    header div#close {
        display: none;
    }
    header div#open i,
    header div#close i {
        font-size: 2rem;
        color: var(--white);
        cursor: pointer;
        padding: 10px;
        box-sizing: border-box;
    }
    header.active {
        height: 100vh;
    }
    header.active div#open {
        display: none;
    }
    header.active div#close {
        display: block;
    }
    header.active nav {
        display: flex;
        width: 100%;
        box-sizing: border-box;
    }
    header.active nav a {
        width: 100%;
        box-sizing: border-box;
    }
    header.active+html,
    header.active+body {
        overflow: hidden;
    }
}