/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap%27');
:root {
    --black: #222831;
    --grey: #393E46;
    --blue: #0092CA;
    --white: #EEEEEE;
    --red: #F33535;
    --green: #00C9A7;
}


/* scrollbar */


/* width */

::-webkit-scrollbar {
    width: 7px;
}


/* Track */

::-webkit-scrollbar-track {
    background: none;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: var(--blue);
    border-radius: 5px;
}

* {
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
}

body {
    background-color: var(--black);
    color: var(--white);
}

a {
    text-decoration: none;
}

.red {
    color: var(--red);
}

.green {
    color: var(--green);
}

@media screen and (max-width: 1300px) {
    * {
        font-size: 17px;
    }
}