<fieldset class="game-list-item">
    <legend><i class="fa-solid fa-dice"></i> n°{{game.id}}</legend>
    <div>
        <div>
            <i class="fa-solid fa-clock"></i> {{game.time.hour}}
        </div>
        <div>
            <i class="fa-solid fa-calendar-days"></i> {{game.time.date}}
        </div>
    </div>
    <div>
        <div *ngFor="let player of game.players">
            <div>
                <i class="fa-solid fa-user"></i> {{player.name}}
            </div>
            <div [ngClass]="{
                'red': player.score < 0,
                'green': player.score > 0
            }">
                <i class="fa-solid fa-star"></i> {{player.score}}
            </div>
        </div>
    </div>
    <div>
        <a><i class="fa-solid fa-play"></i> Continuer la partie </a>
        <a routerLink="/details/{{game.id}}"><i class="fa-solid fa-circle-info"></i> Détails de la partie </a>
    </div>
</fieldset>
